---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <div>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_cicular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          {%- if page.social %}

          <div class = "clearfix"}
           <h2>Bio</h2>
            <p>Weina Jin is a Computer Science Ph.D. student at the Medical Image Analysis Lab, Simon Fraser University, supervised by Professor Ghassan Hamarneh. Weina received her Doctor of Medicine degree from Peking University, and underwent neurological residency training at Peking University First Hospital. She also received research training in human-computer interaction at Simon Fraser University. Weina's research combines her multidisciplinary research experience in medicine, machine learning, and human-computer interaction, and focuses on developing physician-centered explainable artificial intelligence for clinical decision-support. She uses a human-centered approach in the technical development and evaluation to make AI more clinically applicable. Her work has published in AAAI 2022, and received the best poster presentation award in IEEE VIS 2019. She is also the recipient of Borealis AI Global Fellowship 2022. </p>
          </div>
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>

</div>
